<div class="container">
    <h1>New Listing</h1>
    <form (ngSubmit)="onSubmit()" #listingForm="ngForm" class="needs-validation" novalidate>
     
      <div class="form-group">
        <label for="Title">*Title</label>
        <input type="text" class="form-control" id="Title" [(ngModel)]="model.Title" name="Title" #Title="ngModel" required>
            <div [hidden]="Title.valid || Title.pristine"
                class="alert alert-danger">
                Title is required
            </div>
      </div>

      <div class="form-group">  
        <label for="Seller">*Seller (Should be included automatically without this)</label>
        <input type="text" class="form-control" id="Seller" [(ngModel)]="model.Seller" #Seller="ngModel" name="Seller" required>
            <div [hidden]="Seller.valid || Seller.pristine"
                class="alert alert-danger">
                Seller is required
            </div>
      </div>

      <div class="form-group">
        <label for="Location">*Location</label>
        <select class="form-control" id="Location" required>
          <option *ngFor="let location of Location" [value]="location">{{location}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Price">*Price (40.2 => €40.20)</label>
        <input type="text" class="form-control" id="Price" [(ngModel)]="model.Price" name="Price" #Price="ngModel" required>
            <div [hidden]="Price.valid || Price.pristine"
                class="alert alert-danger">
                Price is required
            </div>
      </div>

      <div class="form-group">
        <label for="ContactNumber">*Contact Number</label>
        <input type="text" class="form-control" id="ContactNumber" [(ngModel)]="model.ContactNumber" name="ContactNumber" #ContactNumber="ngModel" required>
            <div [hidden]="ContactNumber.valid || ContactNumber.pristine"
                class="alert alert-danger">
                Contact Number is required
            </div>
      </div>

      <div class="form-group">
        <label for="Image">Image</label>
        <input type="text" class="form-control" id="Image" [(ngModel)]="model.Image" name="Image">
      </div>

      <div class="form-group">
        <label for="_id">ID</label>
        <input type="text" class="form-control" id="_id" [(ngModel)]="model._id" name="_id">
      </div>

    </form>
    <button type="submit" class="btn btn-success" [disabled]="!listingForm.form.valid">Submit</button>
    <br>
    <br>

</div>