<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

</head>
<body>
<div class="makeItCenter">
  <form (submit)="RegisterUser($event, username, password)" class="was-validated">  
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="email" [(ngModel)]="username" class="form-control" name="username_input" placeholder="Email" required>
      <div class="valid-feedback">All Good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password_input" placeholder="Password" required>
      <div class="valid-feedback">Looks right</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group form-check">
      <Br>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
        <div class="valid-feedback">Nice</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>

    
    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    <!-- After 'Submit' is clicked, display this message -->
    {{ registrationConfirmation }}
    <br>
  </form>
</div>
  <div class="spaceForFooter"></div>
</body>
</html>


