input {
  width: 225%;
}
form {
  padding-left: 2%;
}

.makeItCenter {
  width: 25rem;
  height:55vh;
  display:flex;
  align-items: center;
  justify-content:center;
}

.spaceForFooter {
height:8vh;
}