<h3>Users</h3>
{{ msgFromTheBackend }}
<div>
	<a routerLink="/register">
		Add New User
	</a>
</div>
<table>

  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Actions</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.Username}}</td>
    <td>{{user.Password}}</td>
	<td>
    <button title="Delete User" (click)="removeUser(user.Username)">Delete </button>
    <a routerLink="/users/update/{{user.Username}}">Edit</a>
  </td>
  <td>
    <input type='file'  accept="image/*" (change)="changeListener($event)"> <br>
    <button title="Submit Image" (click)="submitImage()">Submit Image</button>
    <!-- <img id="file" [src]="imageSrc || 'http://placehold.it/46'" alt="your image" />  -->
	</td>
  </tr>
</table>