textarea {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.mySlides {
  display: none;
}

.img-responsive {
  width: 90%;
  height: 70%;
}

body {
  background-image: linear-gradient(to top, #c5b3b1 0%, #9f8ea0 100%);
}


p {
  background-color: rgb(100, 26, 26);
  color: rgb(212, 233, 190)    ;
}

.mySlides {
  display: none;
}

.img-responsive {
  width: 92%;
  height: 73%;
  padding-bottom: 2%;
  max-width: 400px; 
  max-height: 400px;
}

.profile-image {

  min-width: 260px;
  min-height: 260px;
  max-width: 260px; 
  max-height: 260px;
}

.img-header {
  width: 45%;
  height: 35%;
}

.jumbotron {
  background-color: rgb(24, 20, 20);
}

.container-fluid  {
  padding-right: 1.5%;
}

.listing-box {
  background-color: rgb(209, 226, 225);
  border: 3.6px solid rgb(148, 26, 73);
  width: 104%;
  height: 96%;
}

.profile-box { 
  width: 54%;
  height: 100%;
  background-color: grey;
  border: 3.6px solid indigo;
}

div.polaroid {
  align-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  width: 25%;
  text-align: center;
}