<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
  <br>
  <div class="makeItCenter">
  <form (submit)="loginUser($event, username, password)" class="was-validated">
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="email" [(ngModel)]="username" class="form-control" name="username_input" placeholder="Email" required>
      <div class="valid-feedback">All Good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password_input" placeholder="Password" required>
      <div class="valid-feedback">Looks right</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    <br>
  </form>
</div>
<div class="spaceForFooter"></div>
</body>
</html>


