<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
  <br>
  <form (submit)="loginUser($event, username, password)" class="was-validated">
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="email" [(ngModel)]="username" class="form-control" name="username_input" placeholder="Username" required>
      <div class="valid-feedback">All Good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password_input" placeholder="Password" required>
      <div class="valid-feedback">Looks right</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <!--
    <div class="form-group form-check">
      <Br>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree:^)
        <div class="valid-feedback">Nice</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>
    -->

    <button type="submit" (ngModelChange)="submit = $event" value="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    {{ logged_in }}
    <br>
  </form>
</body>
</html>


