<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
  <br>
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center"><b>Sign In</b></h5>
              <form (submit)="loginUser($event, username, password)" class="form-signin">

                <!-- Email input form -->
                <div class="form-group">
                  <label for="email" class="control-label"><b>Email *</b></label>
                  <input type="email" [(ngModel)]="username" class="form-control rounded" name="username_input" placeholder="Email" required>
                </div>
  
                <!-- Password input form -->
                <div class="form-group">
                  <label for="pwd"><b>Password *</b></label>
                  <input type="password" [(ngModel)]="password" class="form-control rounded" name="password_input" placeholder="Password" required>
                </div>
                
                <br>
                <button type="submit" value="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
                <br>

              </form>
            </div>
          </div>
        </div>
      </div>

</div>
<div class="spaceForFooter"></div>
</body>
</html>

  



