body,h1,h2,h3,h4,h5,h6 
{
    font-family: "Raleway", Arial, Helvetica, sans-serif
}

.mySlides {
    display: none
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
