<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="topnav">
        <a routerLink="/">Home</a>
        <a routerLink="users">Users</a>
        <a routerLink="browse">Browse</a>
        <a *ngIf="loginStatus===true" routerLink="/listing/{{ user }}">Create Listing</a>
        <a *ngIf="loginStatus===true" routerLink="/profile/{{ user }}" class="right">Profile</a>  
        <a *ngIf="loginStatus===false" routerLink="register"class="right">Register</a> 

        <a *ngIf="loginStatus===false" routerLink="login" class="right">Login</a>
        <a *ngIf="loginStatus===true"  (click)="logout()" routerLink="/" class="right">Logout</a>   
    </div>
    
    <div> 
        <!-- The content contained within other routed components will display here -->
          <router-outlet></router-outlet>
        <!-- <div *ngIf="showLoadingIndicator" class="spinner"></div> -->  
    </div>   
        <footer class="page-footer font-small mdb-color lighten-4 pt-4">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                        <h5 class="font-weight-bold text-uppercase mb-4">Our Policy</h5>
                        <p>UniLodge serves both Students looking to lease / lodge and also potential home owners looking to lease to students.</p>
                        <p>Have a spare room? Then <a routerLink="register">Register</a> with UniLodge and get some use out of your old empty rooms! This is just some filler text.</p>
                    </div>

                    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">  
                      <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>
                      <ul class="list-unstyled">
                        <li>
                          <p>Galway, Ireland</p>
                        </li>
                        <li>
                          <p>G00347032@gmit.ie</p>
                        </li>
                        <li>
                          <p>087 457 6678</p>
                        </li>
                      </ul>
                    </div>
              
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                      <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
              
                      <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-twitter"></a>
                      <a href="#" class="fa fa-snapchat-ghost"></a>
                    </div>      
                </div>  
            </div>           
        </footer>             
</body>
</html>


