<h1>in register.component.html</h1>

{{msgFromTheBackend}}

<form (submit)="loginUser($event, username, password)">
    <input type="text" [(ngModel)]="username" name="username_input" placeholder="Username">
    <input type="password" [(ngModel)]="password" name="password_input" placeholder="Password">
    <input type="submit" (ngModelChange)="submit = $event" value="submit ">
</form>
<!-- After 'Submit' is clicked, display this message -->
{{registrationConfirmation}}
<!-- Two way data bound, really just for testing purposes -->
<p>Username: {{username}} Password: {{password}}</p>