body {
  font-size:22px;
  background-color: rgba(223, 0, 0, 0.431);
}

.form-control {
  font-size: 100%;
}

.jumbotron {
  background-color: rgb(24, 20, 20);
}

.panel-heading{
  font-size:22px;
  font-weight:bold;
}

.panel-body b{
  font-size:20px;
}

.panel-body p {
  font-size:18px;
  padding-left:13px;
}

.comment-box-background {
  background-color: grey;
}

.leftside, .rightside {
  height :100%;
  width: 100%;
}

.leftside {
  padding-bottom: 25px;
}

.rightside {
  padding-right: 55px;
}

.inset-listing-box {
  border: 4.6px outset  rgb(117, 28, 59)

}
.listing-box {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 65px;
  border: 3.6px inset  rgb(148, 26, 73);
  padding-bottom: 25px;
}
