<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <img src="../../assets/title_image.png" class="img-header" alt="Image">
            </div>
        </div> 
        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="leftside">
                    <div class="container-fluid bg-3 text-center">    
                        <div class="col-sm-20">
                            <div class="text-center">   
                                <div class="listing-box">                       
                                    <div class="inset-listing-box" *ngFor="let listing of listings; let i=index" > 
                                        <ion-slide *ngIf="i<8" >
                                                <div class="list-group">
                                                    <button *ngIf="listingAuth!==false" style="background-color:orange;"  class="btn btn-success btn-lg" (click)="editListingRedirect(listing.Unique_Id, listing.Seller)">Edit Listing</button>
                                                    <button *ngIf="listingAuth!==false" style="background-color:red;" class="btn btn-success btn-lg" (click)="deleteListing(listing.Unique_Id)">Delete Listing</button>
                                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">Posted by <a routerLink="/profile/{{ listing.Seller }}">{{ listing.Seller }}</a> <br>Contact {{listing.ContactNumber}}</h5>
                                                            <small><b>€{{ listing.Price }}</b></small>
                                                        </div>
                                                        <p class="mb-1"><u><b>{{ listing.Title}}</b></u> <br><i>{{ listing.Description }}</i></p>
                                                        <small>{{ listing.Location }}</small>
                                                    </div>
                                                </div>
                                        </ion-slide>
                                    </div>
                                    <br>
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-gutters">
                <div class="rightside">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            Comments
                        </div>
                        <div class="text-center">
                            <div class="comment-box-background">
                                <b>New Comment</b>
                                <br>
                                <textarea [(ngModel)]="Comment" Style="width:65%;display:inline-block;" name="Comment" class="form-control" placeholder="Write your comment .." ></textarea>     
                                <br>
                                <button *ngIf="commentAuth!==false" class="btn btn-success btn-lg" (click)="submitComment(Comment)">Submit Comment</button>
                                <button *ngIf="commentAuth===false" class="btn btn-success btn-lg" ngbPopover="Register or Login to publish a comment" popoverTitle="Permission Denied" >Submit Comment</button>
                                {{ comment_content }}
                                <hr>
                            </div>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <div *ngFor="let comment of comments; let j=index" > 
                                <ion-slide *ngIf="j<8">   
                                    <b>{{ comment.Poster }}</b>
                                    <p>{{ comment.Content }}</p>
                                    {{ comment.Timestamp }}
                                    <button class="btn btn-outline-danger btn-lg" *ngIf="commentAuth===comment.Poster" (click)="deleteComment(comment.Comment_ID)">Delete Comment</button>
                                    <button class="btn btn-outline-danger btn-lg" *ngIf="commentAuth!==comment.Poster" (click)="deleteDenied()">Delete Comment</button>
                                    <hr>
                                </ion-slide>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </body>
</html>