<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <img src="../../assets/title_image.png" class="img-header" alt="Image">
            </div>
        </div>  

        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="leftside">
                    <div class="container-fluid bg-3 text-center">    
                        <div class="col-sm-20">
                            <div class="text-center">   
                                <div class="listing-box">                       
                                    <div class="inset-listing-box" *ngFor="let listing of listings; let i=index" > 
                                        <ion-slide *ngIf="i<8" >   
                                            <b>TODO->Give Description it's own box: <u>{{ listing.Description }}</u> </b>
                                            <br> 
                                            <b>Location: <u>{{ listing.Location }}</u> </b>
                                            <br>
                                            <b>Seller: <a routerLink="/profile/{{ listing.Seller }}"> <u>{{ listing.Seller }}</u> </a></b>
                                            <br>
                                            <b>Price: €{{ listing.Price }}</b>
                                            <br>
                                        </ion-slide>
                                    </div>
                                    <br>
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                </div>     
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-gutters">
                <div class="rightside">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            Comments
                        </div>
                        <div class="text-center">
                            <div class="comment-box-background">
                                <b>New Comment</b>
                                <br>
                                <textarea [(ngModel)]="Comment" Style="width:65%;display:inline-block;" name="Comment" class="form-control" placeholder="Write your comment .." ></textarea>     
                                <br>
                                <button class="btn btn-success btn-lg" (click)="submitComment(Comment)">Submit Comment</button>
                                {{ comment_content }}
                                <hr>
                            </div>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <hr>
                            <b>Joe@gmit.ie</b>
                            <p>What a shithole!</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </body>
</html>