body {
    background-color: rgba(223, 0, 0, 0.431);
}
p {
    background-color: rgb(100, 26, 26);
    color: rgb(212, 233, 190)    ;
}

.mySlides {
    display: none;
}

.img-responsive {
    width: 90%;
    height: 70%;
}

.img-header {
    width: 45%;
    height: 35%;
}

.jumbotron {
    background-color: grey;
  }

.container-fluid  {
    padding-right: 1.5%;
}
.listing-box {
    border: 0.6px solid rgb(148, 26, 73);
    width: 104%;
    height: 96%;
}

.location_input {
    text-align: center; 
    border: 2px solid red;
    border-radius: 4px;
  }