<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/browse">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.png">

</head>

<body class="w3-content w3-border-left w3-border-right">

  <div class="jumbotron">
    <div class="container text-center">
      <img src="../../assets/title_image.png" class="img-header" alt="Image">
    </div> 
  </div>  

  <form (submit)="searchListings($event, selected, minValue, maxValue)">
    <div class="container text-center">
      <mat-form-field>
          
        <h3>Seach for a Location</h3>
        
        <input type="text" placeholder=" Location" matInput [matAutocomplete]="auto" [formControl]="myControl" [(ngModel)]="selected" class="location_input"/> 
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocomplete(selected)">
            <mat-option *ngFor="let selected of filteredOptions | async" [value]="selected">
              {{ selected }}
            </mat-option>
          </mat-autocomplete> 
          
      </mat-form-field>
      <h4><b>{{ searchRes }}</b></h4>

      <button type="submit" value="submit" class="btn btn-primary">Submit</button> 
      &nbsp;
      <button type="clear" value="clear" class="btn btn-primary" (click)="clearSearch()">Refresh Page</button>
    </div>
  </form>
  <br>
  
  <div class="container-fluid bg-3 text-center" >    
    <div class="row">
      <div *ngFor="let listing of listings; let i=index" class="col-sm-3">
        <ion-slide *ngIf="i<99" >   
        <div class="listing-box">
          <p>{{ listing.Location  }} <br> {{ listing.Title }} <br> €{{ listing.Price }}</p>      
          <img src="{{ listing.Image }}" class="img-responsive" alt="Image" (click)="accommodationRedirect(listing.Unique_Id)">
        </div>
        </ion-slide>
      </div>
    </div>
  </div>

</body>
</html>